body {
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

#scene {
    display: flex;
    justify-content: center;
    height : 100vh;
    width: 100%;
    background: url('./../assets/images/snow.gif') no-repeat center center fixed;
    background-size: cover;
}

#container {
    height: 100vh;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}

#player {
    background-image: url("../assets/images/faucon-blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 750px;
    left: 800px; 
} 

#enemies {
    position: absolute;
    height: 100vh;
    width: 1400px;
}

.enemy {
    background-image: url("../assets/images/enemies-red.png");
    background-size: cover;
    position: absolute; 
    height: 70px;
    width: 70px;
}

#missiles {
    position: absolute;
    height: 100vh;
    width: 1400px;
}

.missile {
    /* background-image: url("../assets/images/laser.gif");
    background-position: */
    /* background-size: contain; */
    background-color: deepskyblue;
    border: 1px solid blue;
    border-radius: 30%;
    position: absolute;
    height: 30px;
    width: 5px;
}

#box-start {
    height: 55%;
    position: relative;
    z-index: 999;
    width: 70%;
    background-image: url('../assets/images/giphy.gif');
    background-size: cover;
    display: flex;
    flex-direction : column;
    align-items: center;
}

#how-to-play {
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
    font-size: 35px;
}

#arrow {
    margin: 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

#start {
    padding: 15px 50px;
    background-color: #F8E41E;
    font-weight: bold;
    font-size: 30px;
    margin-top: 70px;
}

h1 {
    margin-bottom: 20px;
    padding: 0;
    margin-top: 40px;
    color: #F8E41E;
    font-size: 60px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

